*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap')
  ;
}

.todo-App{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: fit-content;
  margin: auto;
  padding: 5em 5em;
  background-color: rgb(97, 48, 104);
}

.app-heading{
  font-weight: 800;
  font-size: 4rem;
}

.task-form{
  margin: 2rem 0rem;
}

.task-input{
  padding: 12px;
  border-radius: 5px;
  margin-right: 10px;
  border: 0;
  outline: 0;
  font-size: 24px;
  font-weight: 400;
}

.addtask-btn{
  font-size: 24px;
  font-weight: 400;
  border-radius: 5px;
  padding: 12px;
  border: 0;
  outline: 0;
  background-color: #f85b5b;
  color: #fff;
  cursor: pointer;
}


.the-list{
  display: flex;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.delete-btn{
  padding: 12px;
  margin: 0px 12px;
  color: #fff;
  background-color: #af1b1b;
  font-size: 18px;
  font-weight: 400;
  border: 0;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn{
  padding: 12px 24px;
  margin: 0px 12px;
  color: #fff;
  background-color: #4ae72b;
  font-size: 18px;
  font-weight: 400;
  border: 0;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
}